@property --palette-primary { syntax: '<angle>'; initial-value: 0; inherits: false; }

:root {
  --palette-secondary: calc(var(--palette-primary) + 4deg) !important;
  --ref-palette-primary0: var(--color-ref-primary0, rgb(0 0 0 / 100%)) !important;
  --ref-palette-primary10: var(--color-ref-primary10, hsl(var(--palette-primary) 89.61% 15.1%)) !important;
  --ref-palette-primary20: var(--color-ref-primary20, hsl(var(--palette-primary) 89.74% 22.94%)) !important;
  --ref-palette-primary30: var(--color-ref-primary30, hsl(var(--palette-primary) 90.48% 32.94%)) !important;
  --ref-palette-primary40: var(--color-ref-primary40, hsl(var(--palette-primary) 89.95% 42.94%)) !important;
  --ref-palette-primary50: var(--color-ref-primary50, hsl(var(--palette-primary) 90% 52.94%)) !important;
  --ref-palette-primary60: var(--color-ref-primary60, hsl(var(--palette-primary) 90.43% 63.14%)) !important;
  --ref-palette-primary70: var(--color-ref-primary70, hsl(var(--palette-primary) 89.86% 72.94%)) !important;
  --ref-palette-primary80: var(--color-ref-primary80, hsl(var(--palette-primary) 89.13% 81.96%)) !important;
  --ref-palette-primary90: var(--color-ref-primary90, hsl(var(--palette-primary) 91.3% 90.98%)) !important;
  --ref-palette-primary95: var(--color-ref-primary95, hsl(var(--palette-primary) 90% 96.08%)) !important;
  --ref-palette-primary99: var(--color-ref-primary99, rgb(250 251 255 / 100%)) !important;
  --ref-palette-primary100: var(--color-ref-primary100, rgb(255 255 255 / 100%)) !important;
  --ref-palette-secondary0: var(--color-ref-secondary0, rgb(0 0 0 / 100%)) !important;
  --ref-palette-secondary10: var(--color-ref-secondary10, hsl(var(--palette-secondary) 100% 10.39%)) !important;
  --ref-palette-secondary15: var(--color-ref-secondary15, hsl(var(--palette-secondary) 100% 13.53%)) !important;
  --ref-palette-secondary20: var(--color-ref-secondary20, hsl(var(--palette-secondary) 100% 16.67%)) !important;
  --ref-palette-secondary25: var(--color-ref-secondary25, hsl(var(--palette-secondary) 100% 20%)) !important;
  --ref-palette-secondary30: var(--color-ref-secondary30, hsl(var(--palette-secondary) 100% 23.33%)) !important;
  --ref-palette-secondary35: var(--color-ref-secondary35, hsl(var(--palette-secondary) 100% 26.86%)) !important;
  --ref-palette-secondary40: var(--color-ref-secondary40, hsl(var(--palette-secondary) 100% 30.39%)) !important;
  --ref-palette-secondary50: var(--color-ref-secondary50, hsl(var(--palette-secondary) 95.72% 36.67%)) !important;
  --ref-palette-secondary60: var(--color-ref-secondary60, hsl(var(--palette-secondary) 63.64% 52.55%)) !important;
  --ref-palette-secondary70: var(--color-ref-secondary70, hsl(var(--palette-secondary) 83.33% 64.71%)) !important;
  --ref-palette-secondary80: var(--color-ref-secondary80, hsl(var(--palette-secondary) 100% 74.9%)) !important;
  --ref-palette-secondary90: var(--color-ref-secondary90, hsl(var(--palette-secondary) 100% 93.73%)) !important;
  --ref-palette-secondary95: var(--color-ref-secondary95, hsl(var(--palette-secondary) 100% 93.73%)) !important;
  --ref-palette-secondary99: var(--color-ref-secondary99, hsl(var(--palette-secondary) 100% 98.43%)) !important;
  --ref-palette-secondary100: var(--color-ref-secondary100, rgb(255 255 255 / 100%)) !important;
}


@keyframes rainbowUi {
  0% { --palette-primary: 0deg }
  10% { --palette-primary: 36deg }
  20% { --palette-primary: 72deg }
  30% { --palette-primary: 108deg }
  40% { --palette-primary: 144deg }
  50% { --palette-primary: 180deg }
  60% { --palette-primary: 216deg }
  70% { --palette-primary: 252deg }
  80% { --palette-primary: 288deg }
  90% { --palette-primary: 324deg }
  100% { --palette-primary: 360deg }
}

* {
    transition: background 3s, background-color 3s, color 3s, border-bottom 3s, border-top 3s, border-left 3s, border-right 3s !important;
}
